* { box-sizing: border-box; }
body { 
    margin: 15px 30px 0;
}

/* Categories for use with flask message flashing system */
.success { color: green; }
.error { color: red; }
.warning { color: orange; }
.message { color: turquoise; }

.pull-right { 
    text-align: right; 
}